{#
/**
 * @file
 * Bootrun's theme implementation to display a single page.
#}
<div  class="container {% if is_front %}home-page{% else %}thoughts-page{% endif %}">
    <header id="header" class="header" role="banner" aria-label="{{ 'Site header'|t}}">
        {{ page.header }}
        <div class="navbar-header pull-right">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        {{ page.primary_menu }}
        <h1 class="text-muted">{{ site_name }}</h1>
    </header>
    {% if messages %}
      <div id="messages">
        <div class="section clearfix">{{ messages }}</div>
      </div>
    {% endif %}
    {{ page.breadcrumb }}
    {% if jumbotron %}
      <div class="jumbotron">
        <h2>{{ jumbotron.title }}</h2>
        {% if jumbotron.message %}
          {{ jumbotron.message }}
        {% else %}
          {{ site_slogan }}
        {% endif %}
      </div>
    {% endif %}

    <main id="content" class="column main-container" role="main">
      <section class="section row marketing">
        <div class="{{ page.bootstrap.contentLayout }}">
          <a id="main-content" tabindex="-1"></a>
          {% if tabs %}
            <nav class="tabs" role="navigation" aria-label="{{ 'Tabs'|t }}">
              {{ tabs }}
            </nav>
          {% endif %}
          {{ page.help }}
          {% if action_links %}
            <ul class="action-links">{{ action_links }}</ul>
          {% endif %}
          {{ page.content }}

        </div>
        {% if page.sidebar %}
          <div class="column sidebar col-sm-4">
            <aside class="section" role="complementary">
              {{ page.sidebar }}
            </aside>
          </div>
        {% endif %}
      </section>
    </main>

    <footer class="footer">
      <p>&copy; 2013 - 2015 Drupal is a <a href="http://drupal.com/trademark" rel="nofollow">registered trademark</a> of <a href="http://buytaert.net" rel="nofollow">Dries Buytaert</a>.</p>
    </footer>
</div>
